<%= render partial: "new", locals: {action_name: "create"} %>

<section>
  <h2>Upload Multiple Adies via CSV:</h2>
  <h4>Note: Please ensure your file does not have headers.</h4>
  <%= form_tag({action: :import}, multipart: true) do %>
    <%= file_field_tag :file %>
    <%= button_to "Import", { controller: 'adies', method: 'post'} %>
  <% end %>
</section>
