<%= render partial: "new", locals: {action_name: "create"} %>

<section>
  <h2>Upload Multiple Adies via CSV:</h2>
  <h4>Note: Please ensure your file does not have headers.</h4>
  <%= form_tag({action: :upload}, multipart: true) do %>
    <%= file_field_tag :file %>
    <%= submit_tag "Import!" %>
  <% end %>
</section>
