<div class="welcome-text">
  <div class="row">
    <h2>Admin Console</h2>
  </div>
</div>

<div class="admin-buttons">
  <div class="row">
    <div class="column">
      <%= button_to "Add New Adie", new_adie_path, method: 'get', :class => 'button' %>
      <%= button_to "Add New Employee", new_employee_path, method: 'get', :class => 'button' %>
      <%= button_to "Add New Company", new_company_path, method: 'get', :class => 'button' %>
    </div>
  </div>
</div>
