<div class="container custom-container">
  <div class="va-wrapper">
    <div class="view login-view container">
      <div class="box row">

        <% if Stormpath::Rails.config.web.has_social_providers %>
          <%= render 'stormpath/rails/shared/social_login' %>
        <% end %>
      </div>

    </div>
  </div>
</div>
