html {
  height: 100%;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-size: 14pt;
  font-family: 'Open Sans', sans-serif !important;
  position: relative;
  min-height: 100%;
  padding-bottom: 6rem;
}

h1, h2 {
  color: black;
  font-weight: bold;
  font-family: "Georgia", "Cambria", "Times New Roman", "Times", serif;
}

h3, h4, p, a {
  color: black;
}

.menu-text {
  font-family: "Georgia", "Cambria", "Times New Roman", "Times", serif;
  color: black;
}

a:visited {
  color: inherit;
}

a:hover, a:focus {
  color: #114e48;
}

.greeter_text {
  text-align: center;
}

.image-container {
  width: 100%;
}

.splash-image {
  min-width: 100vw;
}

.row {
  max-width: 80%;
}

.column {
  margin-top: 1%;
  padding: 3%;
}

.center-show {
  text-align: center;
}

.headline {
	font-size: 1.5rem;
  font-weight: bold;
	text-align: center;
}

.headline li {
  padding-top: 6%;
  list-style-type: none;
}

.headline a {
	color: black;
  margin: 3%;
}

.headline a:hover, .headline a:focus {
  text-decoration: underline;
}

.pagination_bar {
  text-align: center;
  font-weight: bold;
  margin-top: 1%;
  margin-: 1%;
}

.title-bar {
  display: none;
}

.top-bar {
  background-color: rgba(255,255,255,0.9) !important;
  box-shadow: 0 1px 2px rgba(0,0,0,0.1);
  width: 100% !important;
  padding: 1% 0;
}

.top-bar ul, .top-bar li, .top-bar a .top-bar h1 {
  background-color: transparent;
}

.top-bar-left {
  padding-left: 3%;
}

.top-bar-right {
  padding-top: 1%;
  padding-right: 2%;
}

.adie_photo {
  border-radius: 50%;
  max-height: 200px;
}

.show_photo {
  border-radius: 50%;
  height: 25em;
  padding-top: 7%;
}

.show_logo {
  padding-top: 12%;
}

.co_logo {
  padding: 0 5% 0;
}

.hide-me {
  display: none;
}

.bold-me {
  border: 1px solid black;
  box-shadow: 0 1px 2px rgba(0,0,0,0.1);
  font-weight: bold;
  text-align: center;
}

form {
  max-width: 80%;
  display: block;
  margin: 0 auto;
}

label {
  font-size: 1.15rem;
}

form.button_to{
  display: inline-block;
  margin-top: 3%;
  margin-right: 5%;
}

.button {
  background-color: #114e48;
  font-size: 1rem;
  font-weight: bold;
}

.button:hover, .button:focus {
  background-color: #132e3f;
}

.welcome-text {
  background-color: #114e48;
  width: 100%;
}

.welcome-text h2 {
  color: white;
  padding: 2% 0;
  text-align: center;
}

.admin-buttons {
  text-align: center;
}

.social-area {
  margin: 0 auto;
  float: none;
  padding-top: 3%;
}

.social-area h2 {
  font-weight: bold;
  padding-top: 5%;
  padding-: 7%;
}

.social-area h3 {
  padding-top: 3%;
}

.login-view .social-area .btn {
  color: white;
  font-size: 1.25rem;
  font-weight: bold;
}


.social-area {
  align-content: center;
}

.logintext {
  text-align: center;
}

.logintext h3 {
  font-weight: bold;
  padding-top: 7%;
  padding-: 5%;
}

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
}

footer p {
  margin: 4% 0 1%;
  text-align: center;
}

@media (max-width: 550px) {
  .title-bar {
    display: block;
    background-color: #114e48 !important;
  }

  .top-bar-left {
    display: none;
  }
}
