body {
  font-size: 14pt;
}

h1, h2, h3, h4, p {
  font-family: "Open Sans", sans-serif !important;
}

section.column {
  width: 50%;
  margin-top: 2%;
}

.column {
  padding: 1% 1.5% 2% 1.5%;
}

.headline {
	font-size: 1.5rem;
  font-weight: bold;
	text-align: center;
}

.headline li {
  padding-top: 8%;
  list-style-type: none;
}

.headline a {
	color: black;
  margin: 3%;
}

.headline a:hover, .headline a:focus {
  text-decoration: underline;
}
